/* * {
  border: 1px solid orange;
} */

.header {
  position: relative;
  text-align: center;
  color: white;
  max-width: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 48px;
  width: 500px;
}

#navBar {
  background-color: lightblue;
  color: white;
}

.country {
  width: 200px;
  text-align: center;
  border: 1px solid white;
  background-color: lightblue;
  color: white;
  border-radius: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

.country:hover {
  background-color: black;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

form {
  text-align: center;
  padding: 15px;
}

#submit {
  display: inline-block;
  width: 200px;
  font-size: 24px;
}

#search {
  width: 200px;
}

#featured {
  width: max-content;
  height: max-content;
}

#featured div {
  display: inline-block;
  width: 500px;
  height: 400px;
}

.dish {
  font-size: 35px;
}

#modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#modal-text {
  background-color: white;
  height: fit-content;
  width: 550px;
  border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2%;
  line-height: 120%;
  font-family: Arial, Helvetica, sans-serif;
}

.recipes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.dish {
  padding-top: 30px;
}

.listPic:hover {
  border: 5px solid lightblue;
}
